# ignore everything
*

# except .gitignore
!.gitignore

# and some directories
!.config/
!.config/*/
!.local/
!.local/*/

# and some files
!.config/home-manager/home.nix
!.config/qtile/config.py
!.config/xmonad/bar.hs
!.config/xmonad/xmonad.hs
!.local/bin/jr
!.local/bin/wz
