# ignore everything
*

# except .gitignore
!.gitignore

# and some directories
!.config/
!.config/*/

# and some files
!.config/home-manager/home.nix
!.config/nvim/init.lua
!.config/picom/picom.conf
!.config/stylua/stylua.toml
!.config/tmux/tmux.conf
!.config/xmonad/bar.hs
!.config/xmonad/xmonad.hs
